@model LogbookWood.Web.ViewModels.Processing.ListProcessignViewModel
@inject LogbookWood.Services.Data.Models.ITicketService ticketService
@using LogbookWood.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    this.ViewData["Title"] = "Преработка";
    ;}
<h2>Преработка на дървесина</h2>
<th></th>
<div class=" col-xs-3 text-left">
    <a class="btn btn-success" href="/Processing/CreateProcessing">Създай нов</a>
</div>
<br />
<th></th>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h5 class="sub-header">Използвана дървесина</h5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Номер </th>
                    <th>Дата</th>
                    <th>Дървесина</th>
                    <th>Категория</th>
                    <th>Обем</th>
                </tr>
            </thead>
            @foreach (var itemOut in this.Model.ListProcessingOutViews)
            {
                <tbody>
                    <tr>
                        <td class="col-md-1">@itemOut.NumberProcessing</td>
                        <td class="col-md-4">@itemOut.Date</td>
                        <td class="col-md-3">@itemOut.Wood</td>
                        <td class="col-md-4">@itemOut.Category</td>
                        <td class="col-md-1">@itemOut.TotalVolume</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <h5 class="sub-header">Получена дървесина</h5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Дървесина</th>
                    <th>Категория</th>
                    <th>Обем</th>
                </tr>
            </thead>
            @foreach (var itemIn in this.Model.ListProcessingInViews)
            {
                <tbody>
                    <tr>
                        <td class="col-md-3">@itemIn.Wood</td>
                        <td class="col-md-4">@itemIn.Category</td>
                        <td class="col-md-5">@itemIn.TotalVolume</td>
                    </tr>
                </tbody>

            }
        </table>
    </div>
</div>